<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <%- include('./includes/nav-links.ejs') %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>
      There <%= (!users.length || users.length > 1) ? "are " : "is " %><%= users.length %> user<%= (!users.length || users.length > 1) ? "s" : "" %> registered on this site!
    </h1>
    <ul>
      <% users.forEach(function(handle) { %>
        <li>
          <%= handle %>
          <% if(handle === signedInAs) { %>(you)<% } %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>